@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  background: rgb(255, 174, 39);
  background: -moz-linear-gradient(
    -45deg,
    rgba(255, 174, 39, 1) 0%,
    rgba(222, 73, 109, 1) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0%, rgba(255, 174, 39, 1)),
    color-stop(100%, rgba(222, 73, 109, 1))
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(255, 174, 39, 1) 0%,
    rgba(222, 73, 109, 1) 100%
  );
  background: -o-linear-gradient(
    -45deg,
    rgba(255, 174, 39, 1) 0%,
    rgba(222, 73, 109, 1) 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    rgba(255, 174, 39, 1) 0%,
    rgba(222, 73, 109, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(255, 174, 39, 1) 0%,
    rgba(222, 73, 109, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffae27', endColorstr='#de496d',GradientType=1 );
}
.wrapper {
  height: 100vh;
  min-height: 600px;
}
.device {
  background: url('../img/watch.png') center center no-repeat;
  background-size: cover;
  width: 355px;
  height: 550px;
  position: relative;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.device:after {
  content: '';
  position: absolute;
  top: 440px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -2;
  -webkit-box-shadow: 0px 250px 30px -35px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 250px 30px -35px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 250px 30px -35px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  transform: scaleY(0.3);
  -webkit-transform: scaleY(0.3);
  -moz-transform: scaleY(0.3);
  -ms-transform: scaleY(0.3);
  -o-transform: scaleY(0.3);
  width: 335px;
  height: 135px;
}
.device > .screen {
  position: absolute;
  top: 30%;
  left: 16%;
}

.clock-wrapper {
  text-transform: uppercase;
  font-size: 16px;
  width: 100%;
}
p {
  width: 100%;
  margin: 5px;
}
span {
  padding: 10px 15px;
  color: rgba(255, 255, 255, 0.2);
}
span.focus {
  color: #fb1f84;
  text-shadow: 1px 1px 5px #fb1f84;
}
.intro {
  margin-top: 200px;
  color: #fff;
  text-align: center;
}
.intro h1 {
  font-size: 55px;
}
.intro h3 {
  font-size: 30px;
  font-weight: 300;
}
.intro h3 a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
}
.intro .btn {
  text-decoration: none;
  padding: 10px 16px;
  border-radius: 5px;
  color: #fb1f84;
  border: 1px solid #000;
  background-color: #000;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-transform: uppercase;
}

.intro p {
  color: #000;
  font-size: 12px;
}
@media screen and (max-width: 480px) {
  .device {
    width: 250px;
    height: 390px;
  }
  .device:after {
    top: 275px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 250px;
    height: 135px;
  }
  .device > .screen {
    top: 28.5%;
    left: 7%;
  }
  .clock-wrapper {
    font-size: 11px;
  }
  .intro {
    margin-top: 100px;
  }
  .intro h1 {
    font-size: 40px;
  }
  .btn {
    font-size: 14px;
  }
}
